@use "../utilities/variables" as *;

.comment{
    padding: 1rem;
    margin: 1rem;

    background-color: $Very-light-gray;

    border-radius: 7px;

    //grid

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-template-areas: 
    "commentHeader commentHeader commentHeader"
    "commentContent commentContent commentContent"
    "scoreCounter buttons buttons"
    "responseEntry responseEntry responseEntry"
    "responses responses responses";

    //
}