@use "../utilities/variables" as *;

.response{
    padding: 1rem;
    margin: 1rem;

    background-color: $Very-light-gray;

    border-radius: 7px;

    //grid

    display: grid;

    grid-template-areas: 
    "commentHeader commentHeader commentHeader"
    "commentContent commentContent commentContent"
    "scoreCounter buttons buttons"
    "responseEntry responseEntry responseEntry"
    "responses responses responses";

    @media (min-width: 1080px) {
        grid-template-areas: 
        "scoreCounter commentHeader  buttons"
        "scoreCounter commentContent commentContent"
        "responseEntry responseEntry responseEntry"
        "responses responses responses";

        grid-template-columns: 50px 1fr 1fr;
    }
    //
}